body{
    background-color: rgb(210, 213, 216)
    
}
h1{
    font-family: 'Kanit', sans-serif;
    color: rgb(51, 63, 72);
    text-align: center;
    font-size: 50px;
}

.button {
    box-sizing: border-box;
    background-color: rgb(28, 32, 28);
    align-items: center;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-family:'Titillium Web', sans-serif;
    flex: 1;
  }
.container {
    display: flex; 
}
img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-image: 1px solid rgb(51, 63, 72);
    padding: 30px;
  }

p{
    color: rgb(91, 103, 112);
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    border: 1px solid rgb(51, 63, 72);
    padding: 30px;
}

h2{
    color: rgb(51, 63, 72);
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif
}

h3{
    color: rgb(51, 63, 72);
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif
}