@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC|Montserrat+Subrayada&display=swap');

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Montserrat+Subrayada&display=swap');

body{
    background-color: rgb(210, 213, 216);
}
h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 5px 5px #323030;
    font-size: 60px;
    text-decoration-style: bold;
    letter-spacing: -1px; 
    line-height: 1;
    padding: 60px;
    background: url(snakeSkin.jpg) repeat;
    box-shadow: 5px 5px #323030;
}

.button {
    box-sizing: border-box;
    background-color: rgb(65, 63, 63);
    align-items: center;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    box-shadow: 4px 4px #323030;
    flex: 1;
  }

  .top{
  
    box-sizing: border-box;
    background-color: rgb(65, 63, 63);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    align-content: center;
    flex:1;

}
.container {
    display: flex; 
   
}
img {
    border-radius: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-image: 2px solid rgb(51, 63, 72);
    padding: 30px;
    background-color: rgb(83, 86, 90);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

p{
    color: rgb(91, 103, 112);
    font-size: 25px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    border: 1px solid rgb(51, 63, 72);
    padding: 30px;
    text-align: center;
    box-shadow: 2px 2px rgb(83, 86, 90);;
}

h2{
    color: rgb(51, 63, 72);
    text-decoration-style: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: bolder;
}

h3{
    color: rgb(51, 63, 72);
    text-align: center;
    font-size: 28px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.caption{
    color: rgb(91, 103, 112);
    font-size: 25px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    width:image width px; 
    font-size:80%; 
    text-align:center;
    border: 4px 4px #323030
}